* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}
/***********************section header *******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 0 4rem;
}

.logotype {
  height: 4rem;
}

.navigation {
  padding: 0 4rem;
  margin-top: 10px;
}
.styl-type {
  list-style: none;
  display: flex;
  gap: 2rem;
}

li .liste-link:link,
.liste-link:visited {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  font-weight: 600;
  padding: 8px 15px;
}

li .liste-link:hover,
.liste-link:active {
  border: 2px solid #1e5ec4;
  border-radius: 8px;
}

/********************************section hero******************************/
.section-hero {
  padding: 4.8rem 9.6rem;
  background-image: url("images/pexels-tima-miroshnichenko-6195120.jpg");
  background-size: cover;
}

.hero-description {
  max-width: 35rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #ffffff7a;
}

.headding-primary {
  font-size: 3.2rem;
  line-height: 1em;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.hero-booton {
  text-decoration: none;
  padding: 8px 20px;
  color: #fff;
  background-color: #1e5ec4;
  border-radius: 8px;
}

/*********************section about us********************************/
.section-about {
  padding: 4.8rem 9.6rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem;
  align-items: center;
}

.image-about {
  height: 30rem;
}

.headding-secondary {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1e5ec4;
  margin-bottom: 10px;
}

.about-description {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.lorem {
  font-size: 15px;
  line-height: 1.5em;
  word-spacing: 0.77px;
  margin-bottom: 2rem;
}

.flexy-list {
  margin-bottom: 30px;
  line-height: 2.2em;
}
.flexy {
  display: flex;
  align-items: center;
}

.about-bouton {
  text-decoration: none;
  padding: 8px 20px;
  color: #fff;
  background-color: #1e5ec4;
  border-radius: 8px;
}

.ionicons {
  border: #1e5ec4 2px solid;
  font-weight: 900;
  color: #1e5ec4;
  margin-right: 10px;
}

/**************************SECTION SERVICES***********************/
.section-service {
  padding: 4.8rem 9.6rem;
}

.services {
  text-align: center;
}
.service-description {
  font-weight: 600;
  padding: 0 14rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.box-service {
  max-width: 15rem;
  box-shadow: 1px 1px 1px 2px #d0d4de;
  padding: 1.4rem;
  border-radius: 6px;
}

.icone-service {
  color: #1e5ec4;
  text-align: center;
  font-size: 28px;
}

.title-box {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.box-text {
  font-size: 12px;
  line-height: 1.5em;
}

.grid-service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/*****************section invite*******************************/
.section-invite{
  padding: 4.8rem 9.6rem;
}
.invit-description{
  font-size: 2rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.stapes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.stap1-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
}

.stap1-box{
  max-width: 20rem;
  background-color: #f3f3f3;
  box-shadow: 1px 1px 1px 1px #e0dddd;
  padding: 1.4rem;
  border-radius: 6px;
}
.stap1-title{
  font-size: 12px;
  margin-bottom: 10px;
}
.stap1-texte{
  font-size: 12px;
  line-height: 1.5em;
}

.stap2-image{
  height: 30rem;
  border-radius: 8px;
}

/**************************section teams*******************************/
.section-team{
  padding:  4.8rem 9.6rem;
  background-color: #eff4fb;
}

.team{
  text-align: center;
}

.team-description{
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.service-box{
  margin-bottom: 2rem;
}
.team-box-image{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4REM;
}
.personal{
  height: 20rem;
  border-radius: 6px;
}

.team-bouton{
  text-decoration: none;
  background-color: #1e5ec4;
  padding: 10px 20px;
  color: #fff;
  border-radius: 6px;
}

/**********************working process****************************/
.working-process{
  padding: 4.8rem 9.6rem;

}
.process-working{
  font-size: 1.8rem;
}

.img{
  height: 12rem;
  border-radius: 8px;
}

.boxes-process{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  
  
}
.boxx{
  margin-top: 30px;
  text-align: center;
}

.number{
  font-weight: 900;
  font-size: 2rem;
  color: #dbdfe6;
  
}

.stape{
  font-weight: 800;
  margin-bottom: 10px;
}

/************************section prcie*******************************/
.section-pricing{
  padding: 4.8rem 9.6rem;
}

.pricing{
  text-align: center;
}

.price-description{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.price-boxes{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.box-price{
  width: 20rem;
  border-radius: 8px;
}
.box-top{
  background-color: #1e5ec4;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.box-title{
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 10px;
}

.box-number{
  font-size: 2.6rem;
  font-weight: 900;
  padding: 15px;
}

.box-number::before{
  content: "$";
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  top: 70px;
  left: 100px;
}

.box-number::after{
  content: "/visit";
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  bottom: 5px;
  right: 100px;
}

.box-bottom{
  background-color: #e9eff9;
  padding: 1.4rem 1.8rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
}

.box-flexy-list{
line-height: 1.9em;
font-weight: 500;
font-size: 18px;
}

.box-list{
  display: flex;
  align-items: center;
  gap: 10px;
}

/****************************tesmonials******************************/
.section-testimonial{
  padding: 4.8rem 9.6rem;

}

.testimoninal{
  text-align: center;
}

.testimonial-desc{
  font-size: 1.8rem;
}

.testimonial-box{
  width: 30rem;
  border: 1px solid black;
  padding: 10px;
}

.img-customer{
  height: 4rem;
}

.box-testimo-items{
  display: flex;
  justify-content: center;
  gap: 1rem;
}